//$fg: #ffbf57;
// $fg: #ffb891;
//$fg: #ff8f57;
//$fg-dark-1: #705426;
// $fg-dark-1: #9e5936;
// $fg-dark-2: #5c3521;

// $bg: #040c30;
//$container-border: #3c5ffa;

// Catppuccin Mocha
$fg: #fab387;
$fg-dark-1: #8c654c;
$fg-dark-2: #70503b;

$bg: #1e1e2e;
$container-border: #b4befe;

$button-hover: #45475a;
$button-focused: #f9e2af;
$button-active: #eba0ac;
