@import "color.scss"

* {
  all: unset;
  font-family: "FiraCode Nerd Font Propo";
  font-weight: 600;
}

.left, .center, .right {
  background-color: $bg;
  border: 3px solid $container-border;
  border-radius: 9999px;
  padding: 0px 20px;
}

.left {
  margin-left: 200px;
}

.center {
}

.right {
  margin-right: 20px;
}

.i3 {
  button {
    font-size: 13pt;
    margin: 4px 4px;
    color: $fg;
    border: 2px solid $fg;
    min-width: 26px;
    min-height: 26px;
    padding: 0px 5px;
    transition: background-color 250ms;
    border-radius: 6px;
  }

  button:hover {
    background-color: #3F3F3F;
  }
}

.time {
  font-size: 26px;
  color: $fg;
  margin: 8px 0px;
  border-radius: 9999px;

  label:last-child {
    font-size: 16px;
  }
}

.metric {
  font-weight: 800;
  color: $fg;
  margin: 8px 0px;
  border-radius: 9999px;
}

.E {
  min-height: 32px;
  border: 1px solid;
  background-color: #ffffff;
}

scale {
  min-width: 90px;
  trough {
    background-color: $fg-dark-1;
    border-radius: 9999px;

    highlight {
      min-height: 10px;
      background-color: $fg;
      border-radius: 9999px;
    }
  }
}

