@import "color.scss"

* {
  all: unset;
  font-family: "FiraCode Nerd Font Propo";
  font-weight: 600;
}

.left, .center, .right {
  background-color: $bg;
  border: 3px solid $container-border;
  border-radius: 9999px;
  padding: 0px 20px;
}

.left {
  margin-left: 250px;
}

.center {
}

.right {
  margin-right: 20px;
}


button {
  font-size: 13pt;
  margin: 4px 4px;
  color: $fg;
  border: 2px solid $fg;
  min-width: 26px;
  min-height: 26px;
  padding: 0px 5px;
  transition: background-color 250ms;
  border-radius: 6px;
}
 
button:hover {
  background-color: $button-hover;
}

.time {
  color: $fg;
  margin: 8px 0px;
  border-radius: 9999px;

  label:last-child {
    font-size: 26px;
  }
}

.metric {
  font-weight: 800;
  color: $fg;
  margin: 8px 0px;
  border-radius: 9999px;
}

scale {
  min-width: 90px;
  trough {
    background-color: $fg-dark-1;
    border-radius: 9999px;

    highlight {
      min-height: 10px;
      background-color: $fg;
      border-radius: 9999px;
    }
  }
}

.focused {
  color: $button-focused;
  border: 2px solid $button-focused;
}

.active {
  color: $button-active;
  border: 2px solid $button-active;
}
