autostart
BraveSoftware
broot
btop
caja
cef_user_data
celluloid
cinnamon
cinnamon-session
Code
dconf
discord
enchant
evolution
fcitx
gcalendar
gh
GitKraken
goa-1.0
google-chrome
hexchat
ibus
Jetbrains
kitty
konsolerc
lvim
menus
mimeapps.list
mintmenu
nemo
obs-studio
opera
pix
pulse
qt5ct
QtProject
QtProject.conf
session
Thunar
touchegg
Unknown Organization
user-dirs.dirs
user-dirs.locale
xed
xfce4
zoom.conf
zoomus.conf
