*
!.gitignore
!.tmux.conf

!hypr
!hypr/**
!nvim
!nvim/**
!ags
!ags/**
!avizo
!avizo/**
!based-sddm-theme
!based-sddm-theme/**
!cava
!cava/**
!kitty
!kitty/**
!neofetch
!neofetch/**
!nwg-look
!nwg-look/**
!rofi
!rofi/**
!Kvantum/KvLibadwaitaDark-Cat
!quickshell
!quickshell/**
!swaync
!swaync/**
!waybar
!waybar/**
!zathura
!zathura/**
!gammastep
!gammastep/**
!fastfetch
!fastfetch/**

*.env

# Only arch pc gets to have nvim-hardtime
nvim/lua/bdon/plugins/hardtime.lua

quickshell/caelestia-ref
quickshell/caelestia-ref/**
quickshell/myshell/**
