*
!.gitignore

!hypr
!hypr/**
!nvim
!nvim/**
!ags
!ags/**
!avizo
!avizo/**
!based-sddm-theme
!based-sddm-theme/**
!cava
!cava/**
!kitty
!kitty/**
!neofetch
!neofetch/**
!nwg-look
!nwg-look/**
!rofi
!rofi/**
!swaync
!swaync/**
!waybar
!waybar/**
!zathura
!zathura/**

*.env
