/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
}

/*****----- Global Properties -----*****/
* {
    font:                        "FiraCode Nerd Font 10";
    background:                  #FFFFFF00;
    background-alt:              #1E1E2E;
    foreground:                  #C6D6F4;
    selected:                    #313244;
    active:                      #74c7ec;
    urgent:                      #F38BA8;
}

/*
USE_BUTTONS=YES
*/

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  true;

    border-color:                @selected;
    cursor:                      "default";
    background-color:            @background;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     0px;
    margin: 0px 1000px;
    background-color:            transparent;
    children:                    [ "inputbar", "listview", "message" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     0px;
    padding:                     100px 80px;
    background-color:            transparent;
    children:                    [ "textbox-prompt-colon", "dummy","prompt"];
}

dummy {
    background-color:            transparent;
    expand: true;
}

textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         " System";
    padding:                     12px;
    border-radius:               12px;
    background-color:            #b4befe;
    text-color:                  @background-alt;
}
prompt {
    enabled:                     true;
    padding:                     12px;
    border-radius:               12px;
    background-color:            @active;
    text-color:                  @background-alt;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    
    spacing:                     75px;
    background-color:            transparent;
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    padding:                     30px 10px;
    border-radius:               12px;
    background-color:            @background-alt;
    text-color:                  @foreground;
    cursor:                      pointer;
}

element-text {
    font:                        "FiraCode Nerd Font Propo 48";
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
element selected.normal {
    background-color:            var(selected);
    text-color:                  var(foreground);
}

/*****----- Message -----*****/
message {
    enabled:                     true;
    margin:                      0px;
    padding:                     15px;
    border-radius:               0px;
    background-color:            @background-alt;
    text-color:                  @foreground;
}
textbox {
    background-color:            inherit;
    text-color:                  inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
