.bar-left,
.bar-center,
.bar-right {
    background-color: $base;
    border-radius: 0 0 16px 16px;
    padding: 0px 12px; // Screw it
}

.button-workspace {
    border-radius: 8px 8px 0 0;
    padding: 4px 10px;
}
